<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>AFM Classes</title>
<style type="text/css">
body { font-family: sans-serif }
a { text-decoration: none }
#col {
-webkit-column-width:200px;
-moz-column-width:200px;
-o-column-width:200px;
-ms-column-width:200px;
column-width:200px;
}
</style>
</head>
<body>
<h1>AFM Classes</h1>
<div id="col">
<ul>
{{#Classes}}<li><a href="c/{{Id}}">{{Name}}</a></li>{{/Classes}}
</ul>
</div>
</body>
</html>
