<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>AFM Racer - {{.Name}}</title>
<style type="text/css">
body { font-family: sans-serif }
a { text-decoration: none }
th,td { border-bottom: 1px solid #ddd }
td { padding-right: 10px; padding-left: 10px }
tbody tr td.r { text-align: right; }
</style>
</head>
<body>
<h1><a href="../r">AFM Racer</a> - {{.Name}}</h1>
<table>
<thead>
<tr><th>Event</th><th>Race</th><th>Pos</th><th>Num</th><th>Lic</th><th>Best</th><th>Pts</th><th>Laps</th><th>Vehicle</th></tr>
</thead>
<tbody>
{{range .Results}}<tr><td>{{.Event}}</td><td>{{.Race}}</td><td class="r">{{.Pos}}</td><td>{{.Num}}</td><td>{{.Lic}}</td><td class="r">{{.Best}}</td><td class="r">{{.Pts}}</td><td class="r">{{.Laps}}</td><td>{{.Vehicle}}</td></tr>{{end}}
</tbody>
</table>
</body>
</html>
