<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>AFM Racers</title>
<style type="text/css">
body { font-family: sans-serif }
a { text-decoration: none }
#col {
-webkit-column-width:250px;
-moz-column-width:250px;
-o-column-width:250px;
-ms-column-width:250px;
column-width:250px;
}
</style>
</head>
<body>
<h1>AFM Racers</h1>
<div id="col">
<ul>
{{#Racers}}<li><a href="r/{{Id}}">{{Name}} #{{Number}}</a></li>{{/Racers}}
</ul>
</div>
</body>
</html>
